<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Information</title>
    <link rel="stylesheet" href="/css/prerequisite.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/userdash.css">
    <link rel="stylesheet" href="/css/changePasswd.css">
    <link rel="stylesheet" href="/css/editInfo.css">
</head>
<body>
    <nav>
      <div class="nav-container">
        <a href="../"><div class="logo-container">
          <div class="logo"></div>
          <h1>Blood Care</h1>
        </div>
        </a>
      </div>
    </nav>
    <main class="container">
        <div class="crumbs">
            <a href="/dashboard">Dashboard</a><span>/Edit Password</span>
        </div>
        <div class="card-container">
            <div></div>
            <div class="details">
        <form class="form-container card" action="/editInfo" method="post">
            <div class="info even-columns">
                <label for="email">Email*</label>
                <input name="email" value="{{email}}" readonly="read-only"></input>
            </div>
            <div class="info even-columns">
                <label for="age">Age</label>
                <input name="age"></input>
            </div>
            <div class="info even-columns">
                <label for="gender">Gender</label>
                <input name="gender" ></input>
            </div>
            <div class="info even-columns">
                <label for="location">Location</label>
                <input name="location"></input>
            </div>
            <button type="submit">Change</button>
        </form>
        </div>
        </div>
    </main>
</body>
</html>